.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
          var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-icon) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}

.jdgm-widget:has([data-number-of-reviews="0"]),
.jdgm-widget:has([data-number-of-reviews="1"]),
.jdgm-widget:has([data-number-of-reviews="2"]),
.jdgm-widget:has([data-number-of-reviews="3"]),
.jdgm-widget:has([data-number-of-reviews="4"]),
.jdgm-widget:has([data-number-of-reviews="5"]),
.jdgm-widget:has([data-number-of-reviews="6"]),
.jdgm-widget:has([data-number-of-reviews="7"]),
.jdgm-widget:has([data-number-of-reviews="8"]),
.jdgm-widget:has([data-number-of-reviews="9"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="0"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="1"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="2"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="3"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="4"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="5"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="6"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="7"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="8"]),
.shopify-block:has(.jdgm-rev-widg[data-number-of-reviews="9"]) {
  display: none !important;
}
